<div  style="text-align: center"
      class="column 
              col-xs-offset-1
              col-sm-offset-1
              col-md-offset-1
              col-lg-offset-1
              col-xs-8
              col-sm-8
              col-md-4
              col-lg-4">
  <h1>{{text}}</h1>
  <br><br><br><br><br><br>
  <h2>Time: {{time}}</h2>
  
</div>

<div class="column">
  <div class="grid-container">
    <!--1-->
    <div class="grid-item" *ngIf="keyPressed != 103 || keyPressed == 81">
      {{il}}</div>
    <div class="grid-item" *ngIf="keyPressed == 103" id="il"></div>
    <!--2-->
    <div class="grid-item" *ngIf="keyPressed != 104 || keyPressed == 81">
      {{i}}</div>
    <div class="grid-item" *ngIf="keyPressed == 104" id="i"></div>
    <!--3-->
    <div class="grid-item" *ngIf="keyPressed != 105 || keyPressed == 81">
      {{sam}}</div>
    <div class="grid-item" *ngIf="keyPressed == 105" id="sam"></div>
    <!--4-->
    <div class="grid-item" *ngIf="keyPressed != 100 || keyPressed == 81">
      {{sa}}</div>
    <div class="grid-item" *ngIf="keyPressed == 100" id="sa"></div>
    <!--5-->
    <div class="grid-item" *ngIf="keyPressed != 101 || keyPressed == 81">
      {{o}}</div>
    <div class="grid-item" *ngIf="keyPressed == 101" id="o"></div>
    <!--6-->
    <div class="grid-item" *ngIf="keyPressed != 102 || keyPressed == 81">
      {{yuk}}</div>
    <div class="grid-item" *ngIf="keyPressed == 102" id="yuk"></div>
    <!--7-->
    <div class="grid-item" *ngIf="keyPressed != 97 || keyPressed == 81">
      {{chil}}</div>
    <div class="grid-item" *ngIf="keyPressed == 97" id="chil"></div>
    <!--8-->
    <div class="grid-item" *ngIf="keyPressed != 98 || keyPressed == 81">
      {{pal}}</div>
    <div class="grid-item" *ngIf="keyPressed == 98" id="pal"></div>
    <!--9-->
    <div class="grid-item" *ngIf="keyPressed != 99 || keyPressed == 81">
      {{gu}}</div>
    <div class="grid-item" *ngIf="keyPressed == 99" id="gu"></div>
  </div>
</div>

<div class="column" style="text-align: center">
  <br><br>
  <font size="7">SCORE: {{score}}</font>
  <br><br><br><br>
  <button class="btn btn-success" 
          style="margin: 0 auto;" 
          (keydown)="onGetKey($event)" 
          (click)="startGame()">START</button>
  &nbsp;&nbsp;&nbsp;
  <button (click)="quitGame()" 
          style="margin: 0 auto;" 
          class="btn btn-danger">QUIT GAME</button>
</div>