<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a href="#" class="dropdown-toggle navbar-brand" 
           data-toggle="dropdown" role="button" aria-haspopup="true" 
           aria-expanded="false">Archive
           <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            <li>
              <a >Playlist</a>
            </li>
            <li>
              <a >Series</a>
            </li>
          </ul>
    </div>

    <form class="navbar-left" *ngIf='editor != "game"'> 
      <div class="form-group">
        <input type="text" class="form-control" value="{{term}}" 
               placeholder="Search in {{editor}} playlist..." 
               (keyup)="search(searchBox.value)" 
               [typeahead]=""
               #searchBox>
      </div>
    </form>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a *ngIf='editor != "game"' (click)="toggleEditor('game');">게임</a>
          <a *ngIf='editor == "game"' class="active" (click)="toggleEditor('game');">게임</a>
        </li>
        <li>
          <a (click)="openModal(template)">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </li>   
        <li>
          <a *ngIf='editor != "korean"' (click)="toggleEditor('korean'); changeList()">한국</a>
          <a *ngIf='editor == "korean"' class="active" (click)="toggleEditor('korean'); changeList()">한국</a>
        </li>
        <li>
         <a *ngIf='editor != "american"' (click)="toggleEditor('american'); changeList()">미국</a>
         <a *ngIf='editor == "american"' class="active" (click)="toggleEditor('american'); changeList()">미국</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View
             <span class="caret"></span>
          </a>
            <ul class="dropdown-menu">
              <li>
                <a (click)="viewList('everything')">Everything</a>
              </li>
              <li>
                <a (click)="viewList('favorites')">Favorites</a>
              </li>
            </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a (click)="sortList('title')">Title</a>
            </li>
            <li>
              <a (click)="sortList('artist')">Artist</a>
            </li>
            <li>
              <a (click)="sortList('date')">Date</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<body>
<!--other components-->
<app-korean *ngIf="showKoreanEditor" [songs]="songs" (updateList)="updateList()" (tag)="searchTag($event)"></app-korean>
<app-american *ngIf="showAmericanEditor" [songs]="songs" (updateList)="updateList()" (tag)="searchTag($event)"></app-american>
<app-game *ngIf="showGameEditor"></app-game>
</body>

<!-- Modal -->
<ng-template #template>

  <div class="modal-header">
    <button type="button" class="close pull-right a" aria-label="Close" (click)="modalRef.hide(); clearAllMsgs();">
      <span aria-hidden="true">&times;</span>
    </button>
    <a (click)="uploadImage()">
      <span class="glyphicon glyphicon-upload"></span>
    </a>
    <h4 class="modal-title" id="modal-header">Add a Song</h4>

  </div>
  <div class="modal-body" id="modal-body">
    <form [formGroup]="songForm">

      <button type="reset" class="pull-right" id="clearBtn">
        <font size="1">Clear All</font>
      </button>

      <!--#region for upload-->
      
      <!--#endregion-->

      <br>
      Title:
      <font size="2" color="red" class="pull-right">{{titleMsg}}</font>
      <input type="text" class="form-control" formControlName="title" required #title> 
      
      Artist:
      <font size="2" color="red" class="pull-right">{{artistMsg}}</font>
      <input type="text" class="form-control" formControlName="artist" required #artist> 
      
      Album:
      <font size="2" color="red" class="pull-right">{{albumMsg}}</font>
      <input type="text" class="form-control" formControlName="album" required #album> 
      
      Release Date:
      <font size="2" color="red" class="pull-right">{{dateMsg}}</font>
      <input type="number" placeholder="(e.g. 2018)" min="1900" max="2018" class="form-control" formControlName="date" required #date>

      <a (click)="showMore()" class="pull-right">{{more ? 'Hide' : 'Add More'}}</a>

      <div *ngIf="more" formGroupName="extraInfo">
        
        Lyrics:
        <textarea class="form-control" formControlName="lyrics"></textarea>Chords:
        <textarea class="form-control" formControlName="chords"></textarea>

      </div>
      <br>
      <div formArrayName="tags">
        
        Tags
        <font size="2" color="red" class="pull-right">{{tagMsg}}</font>
        <div *ngFor="let tag of tags.controls; let i=index" class="input-group">
          <input type="text" class="form-control" [formControlName]="i" required #tag id="tagField">
          <span class="input-group-btn" *ngIf="tags.length != 1">
            <button class="btn btn-default" id="removeBtn" (click)="removeTag(i)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </span>
        </div>
        <a (click)="addTag()" class="pull-right">Add More Tags</a>
      </div>
      <br>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-right" (click)="onSubmit(); openModal2(template2, songExists);">Submit</button>
    <button type="button" class="btn btn-default pull-left" (click)="modalRef.hide(); clearAllMsgs();">
      Close
    </button>
  </div>
</ng-template>

<ng-template #template2>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Error</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style='text-align: center'>
    Song already exists
  </div>
  <div class="modal-footer">
    <button *ngIf="modalRef" type="button" class="btn btn-primary pull-right" (click)="modalRef2.hide()">Close</button>
  </div>
</ng-template>
